{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}

    {% include 'navigation/navbar.html.twig' %}
    <div class="h1 text-center mt-5"> N'hésitez pas à vous connecter ou à consulter nos informations </div>
    
{% endblock %}
