{% extends 'base.html.twig' %}

{% block title %}Welcome! {% endblock %}

{% block body %}
{% include 'navigation/navbar.html.twig' %}

<div class="h1 text-center mt-5">Bienvenue, gérez dès à présent vos évènements</div>


{% endblock %}
