{% extends 'base.html.twig' %}

{% block title %}Billeterie{% endblock %}

{% block body %}
    {% include 'navigation/navbar.html.twig' %}

    <div class="container mt-5">
        <div class="alert alert-warning" role="alert">
            Désolé, mais il n'y a plus de billets disponibles pour cette date.
        </div>
    </div>
{% endblock %}
