{% extends 'base.html.twig' %}

{% block title %}Foire aux questions{% endblock %}

{% block body %}
    {% include 'navigation/navbar.html.twig' %}

    <div class="container mt-5">
    <div id="accordion">
        <div class="card">
            <div class="card-header bg-dark text-white" id="question1">
                <div class="mb-0 text-center">
                    <button class="btn btn-link text-white" data-toggle="collapse" data-target="#answer1" aria-expanded="true" aria-controls="answer1">
                        A quelle date aura lieu le festival ?
                    </button>
                </div>
            </div>
            <div id="answer1" class="collapse show" aria-labelledby="question1" data-parent="#accordion">
                <div class="card-body text-center">
                    Le festival se déroule du 06 au 09 juillet 2023
                </div>
            </div>
        </div>

        <div class="card">
                    <div class="card-header bg-dark text-white" id="question2">
                        <div class="mb-0 text-center">
                        <button class="btn btn-link text-white" data-toggle="collapse" data-target="#answer2" aria-expanded="true" aria-controls="answer2">
                                Où aura lieu le festival ?
                        </button>
                        </div>
                    </div>
                    <div id="answer2" class="collapse show" aria-labelledby="question2" data-parent="#accordion">
                        <div class="card-body text-center">
                            Le festival aura lieu à l'hippodrome de Longchamps
                        </div>
                    </div>
                </div>

         <div class="card">
                <div class="card-header bg-dark text-white" id="question3">
                        <div class="mb-0 text-center">
                        <button class="btn btn-link text-white" data-toggle="collapse" data-target="#answer3" aria-expanded="true" aria-controls="answer3">
                                Comment venir ?
                        </button>
                        </div>
                    </div>
                    <div id="answer3" class="collapse show" aria-labelledby="question3" data-parent="#accordion">
                        <div class="card-body text-center">
                            Un parking est mis à disposition, sinon privilégiez les nombreux transports en commun
                        </div>
                    </div>
                </div>

            <div class="card">
                <div class="card-header bg-dark text-white" id="question4">
                        <div class="mb-0 text-center">
                        <button class="btn btn-link text-white" data-toggle="collapse" data-target="#answer4" aria-expanded="true" aria-controls="answer4">
                                Où acheter des billets
                        </button>
                        </div>
                    </div>
                    <div id="answer4" class="collapse show" aria-labelledby="question4" data-parent="#accordion">
                        <div class="card-body text-center">
                            Un onglet billeterie est mis à votre disposition directement sur le site
                        </div>
                    </div>
                </div>
{% endblock %}
